<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="shortcut icon" href="/Assets/Icon.ico" type="image/x-icon">
    <link rel="icon" size="512x512" href="/Assets/Icon.png">
    <title>Sing Up - Candy Games</title>
</head>

<body>

    <nav class="NavBar">
        <div class="Logo">
            <a href="<%= locals.baseUrl %>">
                <img src="/Assets/Logo.png" alt="Candy Games Logo" class="LogoImg" />
            </a>
        </div>

        <button class="HamburgerButton" id="hamburger-button" aria-label="Toggle menu" aria-expanded="false">
            <span class="HamburgerLine"></span>
            <span class="HamburgerLine"></span>
            <span class="HamburgerLine"></span>
        </button>

        <ul class="NavLinks" id="nav-links">
            <li><a class="NormalLink" href="<%= locals.baseUrl %>">Home</a></li>
            <li><a href="#" class="NormalLink">About</a></li>
            <li><a href="#" class="ActiveLink">Login</a></li>
        </ul>
    </nav>

    <div class="BodyCenteredContent">
        <div class="LoginFormCon">

                <h1 class="TextColor_Dark3 SectionTitle">✦ Error 404 ✦</h1>
        </div>
    </div>



    <footer class="MotivationalFooter TextColor_Dark3">
        <p id="quote-text">🌟 Stay sweet, keep going. 🍬</p>
        <p>✦ Candy Games || contact@abcia2.com ✦</p>
    </footer>


    <script src="/script.js"></script>
</body>

</html>