.GameInfosTop {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.BannerImg {
    margin-right: 50px;
}

.GameInfosTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.GameInfosTexts h2 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.GameInfosTexts h3 {
    font-size: 1.5em;
}